///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
.u-del{
	position: relative;
	display: inline-block;
	&:before{
		position: absolute;
		content: "";
		width: 100%;
	    position: absolute;
	    right: 0;
	    top: 50%;
	    border-bottom: 2px solid #f2385a;
	    transform: skewY(-5deg);
	}
}
.u-redbold{
	color: #ff1e5b;
	font-weight: bold;
}

.u-hl{
	color: #fff;
	font-weight: bold;
	font-size: 1.5rem;
	padding: 4px 16px;
	margin-right: 13px;
	@include sp{
		font-size: 1.3rem;
		width: 100%;
		display: block;
		text-align: center;
	}
	&--green{
		background: #33c49d;
	}
	&--blue{
		background: #0080ae;
	}
}

// Display PC or SP
.u-pc-only{
	display: block;
	@include sp{
		display: none;
	}
}
.u-sp-only{
	display: none;
	@include sp{
		display: block;
	}
}

.u-mgAuto{
	margin: auto;
}

.u-breakline-sp{
	@include sp{
		&:after{
		    content: '\A';
		    white-space: pre;
		}
	}
}