/*------------------------------------------------------------
footer
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-footer{
	&__1{
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 293px;
		background: #33c49d;
		text-align: center;
		img{
			margin: 0 auto;
		}
		@include sp{
			padding: 0 20px;
			height: 205px;
		}
	}
	&__2{
		height: 40px;
		background: #3c3c3c;
		text-align: center;
		padding-top: 10px;
		color: #fff;
		font-size: 1.2rem;
		@include sp{
			font-size: 1rem;
			height: 30px;
			padding-top: 7px;
		}
	}
	&__text{
		margin-top: 30px;
		color: #fff;
		font-size: 1.5rem;
		@include sp{
			font-size: 1.2rem;
			margin-top: 20px;
		}
	}
	&__btn{
		position: fixed;
		right: 80px;
		bottom: 105px;
		cursor: pointer;
		opacity: 0;
		transition: all .25s;
		@include sp{
			right: 30px;
			bottom: 50px;
		}
	}
}