/*------------------------------------------------------------
header
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-header{
	background: url('/assets/image/common/bg-top.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	height: 800px;
	position: relative;
	@include sp{
		background: url('/assets/image/common/sp/bg-top.jpg') no-repeat;
		background-size: cover;
		background-position: center;
		height: 480px;
		img:nth-child(1){
			width: 100%;
		}
	}
	&__inner{
		position: absolute;
		top: 50%;
		right: 127px;
		transform: translateY(-50%);
		@include sp{
			right: 0;
			position: relative;
			img{
				margin: auto;
			}
		}
	}
}

.c-gnavi{
	@include sp{
		display: none;
	}
	ul{
		height: 97px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 39px;
	}
	li{
		margin: 0 22px;
	}
	a{
		font-size: 1.8rem;
		color: #3c3c3c;
		text-decoration: none;
		position: relative;
		display: inline-block;
		padding-left: 25px;
		&:before{
			content: '';
			background: url('/assets/image/common/icon_arrrow-down.png') no-repeat;
			width: 15px;
			height: 9px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
}