/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
	min-width: 1500px;
	@include sp{
		min-width: 320px;
	}
}