/*------------------------------------------------------------
index
------------------------------------------------------------*/
.p-index1{
	height: 710px;
	background: url('../image/common/bg-2.png') no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
	@include sp{
		height: auto;
		background: url('../image/common/sp/bg-2.png') no-repeat;
		background-size: cover;
		background-position-y: 20px;
		padding-bottom: 40px;
	}
	&__title{
		position: absolute;
		margin-top: -303px;
    	left: -85px;
    	z-index: 111;
    	@include sp{
    		position: relative;
    		margin-top: -26px;
    		left: 0;
    		img{
    			width: 100%;
    			height: auto;
    		}
    	}
	}
	&__content{
		width: 1480px;
		position: relative;
		margin: auto;
		padding-top: 56px;
		z-index: 9999;
		@include sp{
			width: 100%;
			padding: 10px 20px;
			img.pc{
				display: none;
			}
			img:nth-child(4){
				width: 100%;
				height: auto;
			}
		}
		img{
			&:first-child{
				margin-left: -16px;
				@include sp{
					margin-left: 0;
				}
			}
		}
	}
	&__contentSP{
		margin-top: 15px;
		display: flex;
		justify-content: center;
    	align-items: center;
	}
	.c-btn{
		margin-top: 25px;
	}
}
/*
------------------------------------------------------------*/
.p-index2{
	padding-top: 120px;
	padding-bottom: 134px;
	@include sp{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&__inner{
		width: 1440px;
		margin: auto;
		@include sp{
			width: 100%;
		}
	}
	&__title{
		text-align: center;
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 15px;
		}
	}
	&__content{
		font-size: 1.5rem;
		ul{
			@include sp{
				padding: 0 15px;
			}
		}
		li{
			display: inline-block;
			margin-right: 17px;
			@include sp{
				display: block;
				margin-right: 0;
				margin-bottom: 15px;
				font-size: 1.2rem;
				text-align: center;
				.u-hl{
					margin-bottom: 10px;
				}
			}
		}
	}
	#table1{
		margin-bottom: 36px;
		td{
			display: flex;
			justify-content: center;
			height: auto;
			@include sp{
				padding: 17px 0;
			}
		}
	}
	#table2{
		margin-bottom: 23px;
		@include sp{
			display: none;
		}
		th:nth-child(1){
			width: 200px;
		}
		th:nth-child(2){
			width: 388px;
		}
		th:nth-child(3),
		th:nth-child(4),
		th:nth-child(5){
			width: 285px;
		}
		td{
			text-align: center;
			p:first-child{
				padding-bottom: 7px
			}
		}
		tr:nth-child(odd){
			background: #f8f8f8;
		}
		tr{
			td:first-child{
				text-align: left;
				padding-left: 30px;
				font-weight: 600;
				border-right: 0;
			}
			td:nth-child(2){
				text-align: left;
				padding-left: 60px;
				border-left: 0;
			}
		}
	}
	.c-accordion{
		margin-bottom: 15px;
		display: none;
		@include sp{
			display: block;
		}
	}
}
/*
------------------------------------------------------------*/
.p-index3{
	background: url('../image/common/bg-3.png') no-repeat;
	background-size: cover;
	background-position: center;
	height: 765px;
	text-align: center;
	position: relative;
	@include sp{
		background: url('../image/common/sp/bg-3.png') no-repeat;
		background-size: cover;
		background-position: center;
		height: 520px;
	}
	&__inner{
		width: 1440px;
		margin: auto;
		padding-top: 160px;
		@include sp{
			width: 100%;
			padding: 66px 20px;
		}
	}
	&__text{
		font-size: 3.2rem;
		color: #fff;
		padding-bottom: 20px;
		@include sp{
			font-size: 1.6rem;
			padding-bottom: 25px;
		}
	}
	&__text2{
		font-size: 1.8rem;
		color: #fff;
		margin-bottom: 21px;
		margin-top: 60px;
		@include sp{
			font-size: 1.2rem;
			padding: 0 26px;
			margin-bottom: 21px;
			margin-top: 18px;
		}
	}
	&__text3{
		font-size: 1.3rem;
		color: #fff;
		margin-top: 9px;
		@include sp{
			font-size: 1rem;
		}
	}
}
/*
------------------------------------------------------------*/
.p-index4{
	margin-bottom: 120px;
	margin-top: -15px;
	@include sp{
		margin-top: 40px;
		margin-bottom: 50px;
	}
	&__inner{
		width: 1440px;
		margin: auto;
		@include sp{
			width: 100%;
			padding: 0 20px;
		}
	}
	&__title{
		text-align: center;
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 25px;
		}
	}
	.c-imgbox{
		width: 1000px;
		height: 288px;
		margin: auto;
		@include sp{
			width: 100%;
			height: auto;
		}
		&__list{
			ul{
				background: #f0f0f0;
				padding: 30px;
				@include sp{
					padding: 15px;
				}
			}
		}
	}

}
/*
------------------------------------------------------------*/
.p-index5{
	margin-bottom: 126px;
	@include sp{
		margin-bottom: 50px;
	}
	&__inner{
		width: 1440px;
		margin: auto;
		@include sp{
			width: 100%;
			padding: 0 20px;
		}
	}
	&__title{
		text-align: center;
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 25px;
		}
	}
	&__content{
		display: flex;
		justify-content: space-between;
		@include sp{
			flex-wrap: wrap;
		}
	}
	.c-imgoverlay{
		width: 272px;
		height: auto;
		@include sp{
			width: 136px;
			height: auto;
			margin-bottom: 7px;
		}
	}
}
/*
------------------------------------------------------------*/
.p-index6{
	margin-bottom: 98px;
	@include sp{
		margin-bottom: 40px;
	}
	&__title{
		width: 1440px;
		margin: auto;
		@include sp{
			width: 100%;
			padding: 0 20px;
		}
	}
	&__inner{
		padding-top: 60px;
		background: url('../image/common/bg-access.png') no-repeat;
		background-position: top 44px right 80px;
		display: flex;
		@include sp{
			padding-top: 25px;
			flex-direction: column;
			background: none;
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&__map{
		width: 1100px;
		height: 480px;
		@include sp{
			width: 100%;
			height: 240px;
		}
	}
	&__info{
		width: 780px;
		height: 420px;
		background: #10222b;
		margin-left: 27px;
    	margin-top: -97px;
    	@include sp{
    		width: 100%;
    		height: auto;
    		margin-top: 0;
    		margin-left: 0;
    		padding: 20px 0;
    	}
	}
	&__table{
		padding-top: 82px;
    	padding-left: 62px;
    	@include sp{
    		padding-top: 0;
    		padding-left: 0;
    	}
		table{
			width: 100%;
			border-collapse: collapse;
			color: #fff;
			font-weight: bold;
			text-align: left;
			line-height: 1.4;
		}
		i{
			display: inline-block;
		    height: 17px;
		    vertical-align: middle;
		}
		th{
			width: 147px;
			vertical-align: text-top;
			font-size: 1.5rem;
			border-bottom: solid 1px #636f75;
			padding-top: 12px;
			padding-bottom: 6px;
			@include sp{
				font-size: 1.4rem;
				width: 100%;
				border-bottom: 0;
			}
		}
		td{
			vertical-align: text-top;
			padding-left: 20px;
			font-size: 1.5rem;
			border-bottom: solid 1px #636f75;
			padding-top: 12px;
			padding-bottom: 6px;
			@include sp{
				font-size: 1.2rem;
				padding-left: 0;
				padding-top: 0;
				padding-bottom: 13px;
			}
		}
		th, td{
			@include sp{
				display: block;
				text-align: center;
			}
		}
		tr:last-child{
			th, td{
				border: 0;
			}
		}
	}
}
/*
------------------------------------------------------------*/
.p-index7{
	background: #eeeeee;
	&__inner{
		width: 1440px;
		margin: auto;
		height: 367px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@include sp{
			width: 100%;
			padding: 0 20px;
			height: 206px;
		}
	}
	&__title{
		margin-bottom: 50px;
		@include sp{
			margin-bottom: 25px;
		}
	}
	&__text{
		font-size: 1.5rem;
		color: #404040;
		@include sp{
			font-size: 1.2rem;
			text-align: center;
		}
	}
}