/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.l-btn{
	&--2center{
		display: flex;
		justify-content: center;
		@include sp{
			flex-direction: column;
			div{
				margin-bottom: 10px;
			}
		}
		div:last-child{
			margin-left: 40px;
			@include sp{
				margin-left: 0;
			}
		}
	}
}
.c-btn{
	a{
		text-decoration: none;
		text-align: center;
		color: #fff;
		width: 474px;
		font-size: 18px;
		display: inline-block;
		background: #ff1e5b;
		border-radius: 50px;
		padding: 25px 0;
		position: relative;
		@include sp{
			font-size: 1.2rem;
			width: 100%;
			padding: 15px 0;
		}
		&:before{
			content: '';
			background: url('/assets/image/common/bg-btn.png') no-repeat;
			width: 9px;
			height: 15px;
			margin-left: 50px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			@include sp{
				background: url('/assets/image/common/sp/bg-btn.png') no-repeat;
				margin-left: 25px;
				width: 8px;
				height: 13px;
			}
		}
	}
}

.c-btn2{
	a{
		display: inline-flex;
	    align-items: center;
	    justify-content: center;
		width: 420px;
		height: 90px;
		border-radius: 50px;
		border: solid 1px #fff;
		@include bg-rgb(#000, .2);
		@include sp{
			width: 100%;
			height: 48px;
		}
	}
}