/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-imgbox{
	display: flex;
	justify-content: flex-start;
	border: solid 1px #c8c8c8;
	padding: 30px;
	@include sp{
		flex-direction: column;
		padding: 15px;
	}
	&__image{
		@include sp{
			margin-bottom: 10px;
		}
	}
	&__text{
		margin-left: 30px;
		color: #3c3c3c;
		@include sp{
			margin-left: 0;
		}
	}
	&__list{
		ul{
		}
		li{
			font-size: 1.5rem;
			position: relative;
			padding-left: 15px;
			&:before{
				content: '';
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background: #33c49d;
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
			@include sp{
				font-size: 1.2rem;
			}
		}
	}
	h4{
		font-size: 1.8rem;
		@include sp{
			font-size: 1.6rem;
			text-align: center;
		}
	}
	p{
		font-size: 1.5rem;
		margin-bottom: 20px;
		@include sp{
			font-size: 1.2rem;
		}
	}
}

.c-imgoverlay{
	position: relative;
	img{
		@include sp{
			width: 100%;
			height: auto;
		}
	}
	&__text{
		font-size: 1.8rem;
		text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    color: #ff0000;
	    @include bg-rgb(#dddddd, .7);
	    p, span, h1, h2, h3, h4, h5, h6{
			position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%, -50%);
	    }
	    @include sp{
	    	font-size: .9rem;
	    }
	}
}