/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-table{
	table{
		width: 100%;
		border-collapse: collapse;
		caption-side: top;
	}
	caption{
		padding: 14px 0px;
		background: #10222b;
		color: #fff;
		font-size: 2rem;
		font-weight: bold;
		@include sp{
			width: 100%;
			font-size: 1.6rem;
		}
	}
	th{
		background: #dddddd;
		font-size: 1.5rem;
		color: #3c3c3c;
		padding: 17px 0;
	}
	td{
		font-size: 1.5rem;
		color: #3c3c3c;
		border: solid 1px #ccc;
		border-top: 0;
		height: 50px;
	}
	th, td{
		@include sp{
			display: block;
		}
	}
}