/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-discount{
	display: flex;
    align-items: center;
    margin: 0 30px;
    @include sp{
    	margin: 0 5px;
    	flex-direction: column;
    }
}
.c-price{
	position: relative;
	margin-right: 40px;
	@include sp{
		font-size: 1rem;
		margin-top: 10px;
		margin-right: 0;
	}
	i{
		font-size: 3rem;
		font-weight: bold;
		@include sp{
			font-size: 2rem;
		}
	}
}
.c-finalPrice{
	font-size: 8.4rem;
	font-weight: bold;
	color: #ff1e5b;
	position: relative;
	@include sp{
		font-size: 6rem;
	}
	&:before{
		content: '';
		background: url('../image/common/icon_arrow.png') no-repeat;
		position: absolute;
		width: 31px;
		height: 31px;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		margin-left: -25px;
		@include sp{
			background: url('../image/common/sp/arrow.png') no-repeat;
			width: 15px;
			height: 15px;
			margin-left: -10px;
		}
	}
}
.c-tag{
	height: 60px;
	color: #fff;
	font-size: 2.1rem;
	font-weight: bold;
	display: inline-block;
	padding: 20px 25px;
	background: linear-gradient(90deg, #51d2a0, #00a6de);
	position: relative;
	margin-right: 30px;
	@include sp{
		font-size: 1.3rem;
		width: 137px;
		height: 30px;
		padding: 8px;
		text-align: center;
		margin: 0;
	}
	&:after{
		content: '';
	    position: absolute;
	    right: -20px;
	    bottom: 0;
	    width: 0;
	    height: 0;
	    border-left: 20px solid #00a6de;
	    border-top: 30px solid transparent;
	    border-bottom: 30px solid transparent;
	    @include sp{
	    	content: '';
	    	right: 0;
	    	border: 0;
	    }
	}
}

.c-accordion{
   	&__caption{
   	    padding: 11px 0 10px;
	    background: #10222b;
	    color: #fff;
	    text-align: center;
	    font-weight: bold;
	    font-size: 1.6rem;
   }
   &__btn{
   		color: #999999;
   		font-size: 1rem;
   		background: #fff;
   		border: solid 1px #c8c8c8;
   		height: 60px;
   		position: relative;
   		width: 100%;
   		text-align: left;
   		padding-left: 15px;
   		display: flex;
   		align-items: center;
   		&:after{
   			content: '';
   			background: url('../image/common/sp/plus.png') no-repeat;
   			width: 20px;
   			height: 20px;
   			position: absolute;
   			right: 20px;
   			top: 50%;
   			transform: translateY(-50%);
   		}
   		b{
   			font-size: 1.8rem;
   			color: #3c3c3c;
   			padding-right: 15px;
   		}
   }
   &__panel{
   		font-size: 1.2rem;
   		padding: 0 15px;
   		max-height: 0;
	    overflow: hidden;
	    transition: max-height 0.25s ease-out;
	    &:not(:first-child) {
			margin-top: -1px;
		}
   		&-left{
   			width: 130px;
   			height: 45px;
   			font-weight: bold;
   			display: flex;
   			border-right: solid 1px #c8c8c8;
   			align-items: center;
   			padding-left: 15px;
   		}
   		&-right{
   			width: 160px;
   			height: 45px;
   			display: flex;
   			flex-direction: column;
   			justify-content: center;
   			padding-left: 15px;
   			span{
   				font-size: 1rem;
   			}
   		}
   }
   &__row{
   		display: flex;
   		border: solid 1px #c8c8c8;
   		&:not(:first-child) {
			margin-top: -1px;
		}
		&:first-child{
			margin-top: 15px;
		}
		&:last-child{
			margin-bottom: 15px;
		}
   }
   .active:after {
	    content: '';
		background: url('../image/common/sp/minus.png') no-repeat;
		width: 20px;
		height: 1px;
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
	}
}